body {
    font-family: 'Prompt';
}

h1 {
    font-size: 3rem;
    margin-top: 10em;
    line-height: 3.3rem;
}

a {
    text-decoration: none;
    font-size: 2rem;
}

.hero-img {
    position: absolute;
    top: 1em;
    left: 0;
    background: url('../img/cover.png');
    background-color: #2B2B2B;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 20%;
    background-position-y: 20%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    //overflow: hidden;
}

.logo {
    color: white;
    .WRLD {
        color: red;
    }
    font-weight: bold;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    background: white;
    z-index: 99;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul {
        list-style: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: black;
            padding: .75em 2em;
            display: block;

            &:hover {
                background: gray;
            }
        }

        .close {
            float: right;
            margin: 2em;
            width: 2.5em;
        }
    }
}

header {
    display: flex;
    justify-content: space-between;

    svg {
        width: 3em;
        margin-top: -.6em;
        cursor: pointer;
    }
}

.meaning {
    display: flex;
}

.about-us {
    color: white;
    height: 90vh;
    position: relative;

    .down-arrow {
        stroke: rgb(255, 255, 255);
        position: absolute;
        width: 1em;

        path {
            fill: white;
        }
    }

    h1 {
        margin-top: 5em;
    }
}